In [4]:
# Q. ​Declare a float value and store it in a variable. 
# Check the type and print the id of the same. 

a=10.20
print('Type of a',type(a))
print('address of a',id (a))

Type of a <class 'float'>
address of a 1709702339472

In [7]:
# Q.​ ​Arithmetic Operations on float Take two different float values. 
# Store them in two different variables. Do below operations on them:-    
#     ​Find sum of both numbers    ​Find difference between them    
#     ​Find the product of both numbers.   
#     ​Find value after dividing first num with second number  
#     ​Find the remainder after dividing first number with second number  
#     ​Find the quotient after dividing first number with second number 
#     ​Find the result of the first num to the power of the second number. 

a=20.45
b=3.25
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

a=10.5
b=2.5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)
print(a**b)

23.7
17.2
66.46249999999999
6.292307692307692
0.9499999999999993
6.0
18186.673290968443
13.0
8.0
26.25
4.2
0.5
4.0
357.2508309997333

In [9]:
#Q.Comparison Operators on float.Take two different float values. 
#Store them in two different variables.
#Do below operations on them:-  
#Compare se two numbers with below operator:-
#Greater than, '>'      
#Smaller than, '<'      
#Greater than or equal to, '>='  
#Less than or equal to, '<=' 
#Observe their output(return type should be boolean) 


a=356.28
b=267.54
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

#Comment
execution no 3,why print(a>=b)is true????

True
False
True
False

In [10]:
#Q. Equality Operator
#Take two different float values.
#Store them in two different variables.
#Equate them using equality operators (==, !=) 
#Observe the output(return type should be boolean
                   
a=10.89
b=45.23
print(a==b)
print(a!=b)

#meaning of!=

False
True

In [17]:
# Q.​ Logical operators
# Observe the output of below code
# Cross check the output manually 
# print​(​10.20​ ​and​ ​20.30​)       #both are true and second value taken >Output is 20.3 
# print​(​0.0​ ​and​ ​20.30​)         #First is false so first value taken->Output is 0.0 
 
# print​(​20.30​ ​and​ ​0.0​)         #Goes to till second and second value is false so second is taken>Output is 0.0 
#  print​(​0.0​ ​and​ ​0.0​)           #First is false so first value is taken->Output is 0.0 
#  print​(​10.20​ ​or​ ​20.30​)        #First is True so first value is taken>Output is 10.2 
#  print​(​0.0​ ​or​ ​20.30​)          #Goes to till second and second is true second value is taken->Output is 20.3 
#  print​(​20.30​ ​or​ ​0.0​)          #First is True so first value is taken->Output is 20.3 
#  print​(​0.0​ ​or​ ​0.0​)            #Goes to till second and second is also false and second value is taken>Output is 0.0 
#  print​(​not​ ​10.20​)             #-Not of true is false->Output is False 
#  print​(​not​ ​0.0​)               #Not of false is True>Output is True 


print(10.20 and 20.30)
print(0.0 and 20.30)
print(20.30 and 0.0)
print(0.0 and 0.0)
print(10.20 or 20.30)
print(0.0 or 20.30)
print(20.30 or 0.0)
print(0.0 or 0.0)
print(not 10.20)
print(not 0.0)

20.3
0.0
0.0
0.0
10.2
20.3
20.3
0.0
False
True

In [24]:
# Q.​ What is the output of expression inside print statement. 
# Cross check before running the program. 
# a = ​10.20 b - ​10.20 print​(a ​is​ b)          #True or False? True 10.20<256
# print​(a ​is​ ​not​ b)      #True or False? False 
# Why the Id of float values are different when the same value is assigned to two different variables 
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable having float i.e. a=c then both a and c's Id are same 
    
    
a=10.20
b=10.20
print(a is b)
print(a is not b)
print('address of a',id (a))
print('address of b',id (b))

False
True
address of a 1709702338992
address of b 1709702339376

In [ ]:
# Q.​ Bitwise operation is not applicable between instances of float.
# Why the Id of float values are different when the same value is assigned to two different variables ex: a = 10.5 b=10.5.
#     but id will be same if I assign the variable having float i.e. a=c then both a and c's
#     Id are same Object reusability concept is not applicable on float values.

In [11]:
# Q.​ Membership operation in, not in are two membership operators and it returns boolean value 
#  print​(​'2.7'​ ​in​ ​'Python2.7.8'​)              #True 
#  print​(​10.20​ ​in​ [​10​,​10.20​,​10​+​20j​,​'Python'​]) #True
#  print​(​10.20​ ​in​ (​10​,​10.20​,​10​+​20j​,​'Python'​)) # True 
#  print​(​20.30​ ​in​ {​1​,​20.30​,​30​+​40j​})           # True
#  print​(​2.3​ ​in​ {​1​:​100​, ​2.3​:​200​, ​30​+​40j​:​300​}) # True 
#  print​(​10​ ​in​ ​range​(​20​))                     # True 

print ('2.7' in 'python2.7.8')
print (10.20 in (10,10.20,10+20j,'python'))
print(2.3 in {1:100,2.3:200,30+40j:300})
print(300 in {1:100,2.3:200,30+40j:300})
print(30+40j in {1:100,2.3:200,30+40j:300})

range(20)
print(10 in range(20))
print(30 in range(20))
print ('7.8' in 'python2.7.8')

True
True
True
False
True
True
False
True